<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <style>
    body {
      padding-top: 60px;
      font-family: Arial, sans-serif;
    }
    .content {
      padding: 20px;
    }
  </style>
</head>
<body>
  {% include 'navbar.html' %}
  <div class="content">
    {% if is_owner %}
      <h1>Welcome to Your Dashboard, {{ username }}!</h1>
    {% else %}
      <h1>Welcome to {{ username }}'s Dashboard!</h1>
    {% endif %}
  
    <h2>{{ username }}'s ratings of movies and producers:</h2>
    <ul>
      {% for item in private_data %}
      <li>{{ item.title }}: {{ item.content }}</li>
      {% endfor %}
    </ul>

    <h2>Favorited Movies:</h2>
    <ul>
      {% for prefer in user.preferences %}
        <li>{{ prefer.film.title }} (Rating: {{ prefer.rating }})</li>
      {% endfor %}
    </ul>
    
    <h2>Favorite Producers:</h2>
    <ul>
      {% for favor in user_favors %}
        <li>{{ favor.producer.first_name }} {{ favor.producer.sur_name }} - Rating: {{ favor.rating }}</li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>